<p>
  Title: <%= presentation.title %><br>
  Beginning: <%= presentation.beginning_in_minutes / 60 %>:<%= "%02d" % (presentation.beginning_in_minutes % 60) %>H<br>
  Duration: <%= presentation.duration_in_minutes %> min
</p>
